@model IEnumerable<Sports.ViewModels.Statistics>

@{
    ViewData["Title"] = "Лучшие игроки";
}

<h2>Лучшие игроки по типу события @ViewData["Name"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @item.Count
            </dt>
            <dd>
                @item.Name
                - <a asp-action="PlayerStatistics" asp-route-playerId="@item.Id">статистика игрока</a>
            </dd>
        }
        @if (Model.Count() == 0)
        {
            <dt>
                Очень сложно!
            </dt>
            <dd>
                Ещё никому ни разу не удалось это сделать.
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Вернуться</a>
</div>
