@model Sports.ViewModels.EventViewModel

@{
    ViewData["Title"] = "Добавление события";
}

<h2>Добавление события</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-gameId="@(((Sports.Models.Game)ViewData["game"]).Id)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsTwoPlayer" id="is-two-player" />
            <div class="form-group">
                <label asp-for="EventTypeId" class="control-label"></label>
                <select asp-for="EventTypeId" id="event-type" class="form-control" asp-items="ViewBag.EventType"
                        onchange="checkDualPlayer(this.options[this.selectedIndex].innerHTML)"></select>
            </div>
            <div class="form-group">
                <label asp-for="Player1Id" class="control-label"></label>
                <select asp-for="Player1Id" class="form-control" asp-items="ViewBag.Players"></select>
            </div>
            <div class="form-group" id="second-player">
                <label asp-for="Player2Id" class="control-label"></label>
                <select asp-for="Player2Id" class="form-control" asp-items="ViewBag.Players"></select>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" type="number" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-contoller="Games" asp-action="Details" asp-route-id="@(((Sports.Models.Game)ViewData["game"]).Id)">Вернуться к списку</a>
</div>

<script>
    var dualPlayers = @Html.Raw(@ViewData["DualPlayer"]);
    function checkDualPlayer(eventTypeName) {
        if (dualPlayers.includes(eventTypeName)) {
            document.getElementById("second-player").style.display = "block";
            document.getElementById("is-two-player").value = "true";
        }
        else {
            document.getElementById("second-player").style.display = "none";
            document.getElementById("is-two-player").value = "false";
        }
    }

    checkDualPlayer(document.getElementById("event-type").options[document.getElementById("event-type").selectedIndex].innerHTML);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
